name: CI

on:
  pull_request:
    branches: [build/**]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Install Dependencies
        run: yarn
      # - name: Run Linter
      #   run: yarn lint .
      # - name: Run Tests
      #   run: yarn test
